header {
  margin-bottom: 0;
  z-index: 1;
}

main {
  width: 100%;
  max-width: 100%;
}

footer {
  margin-top: 0;
  border-top: 0.4px solid var(--banner-text-secondary);
}

main section.about {
  width: 100%;
  height: 100%;
  padding: 2rem 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary);
}

.about .who-we-are {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .who-we-are:nth-child(odd) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.who-we-are .about-img {
  width: 50%;
}

.who-we-are .about-img img {
  width: 20rem;
  height: 20rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.who-we-are-content {
  width: 40%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}

.who-we-are-content h2 {
  color: var(--primary);
  font-size: 2rem;
}

.who-we-are-content p {
  width: 100%;
  max-width: 25rem;
  text-align: justify;
  color: var(--primary);
  font-size: 1rem;
}

@media (max-width: 768px) {

  .about .who-we-are {
    flex-direction: column;
    /* background-color: aqua; */
    gap: 1rem;
  }

  .about .who-we-are:nth-child(odd) {
    flex-direction: column;
  }



  .who-we-are .about-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .who-we-are .about-img img {
    width: 90%;
    height: auto;
  }

  section.about .who-we-are-content {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section .who-we-are-content p {
    width: 90%;
    max-width: 100%;
  }
}