section.gallery {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

section.gallery h2 {
  font-size: 25px;
  font-weight: 500;
}

section.gallery div.itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

}

div.itens .single-item {
  width: 100%;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 2px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

div.itens .single-item:hover {
  transform: scale(1.05);
}

div.itens .single-item img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

div.itens .single-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

div.itens .single-item span {
  font-size: 18px;
  font-weight: 500;
}

div.itens .single-item p {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

div.itens .single-item-content :nth-child(3) {
  font-size: 20px;
}

div.itens .single-item-content button {
  padding: 8px;
  background-color: var(--yellow);
  border: 0;
  border-radius: 8px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

div.itens .single-item-content button:hover {
  background-color: var(--yellow-hover);
}

@media (max-width: 425px) {
  section.gallery .itens {
    padding: 0 2%;
  }
}